@model Hospital_CMS.Models.SpecilizationDto

@{
    ViewBag.Title = "Edit";
}

<div style="font-size:30px; float:left;">
    <a class="plus" href="/Specilization/List">Go Back</a>
</div>

<div style="font-size:30px; float:right;">
    <a class="cancel" href="/Specilization/List">Cancel</a>
</div>

<div class="center">
    <h2>Edit Specilization</h2>    

    <form action="/Specilization/Update/@Model.SpecilizationId" method="POST">
        <div>
            <label> Specilization ID:</label>
            <input type="number" name="SpecilizationId" value="@Model.SpecilizationId" style="color:Black"/>
        </div>
        <div>
            <label>Specilization:</label> <input type="text" name="SpecilizationName" value="@Model.SpecilizationName" style="color:Black" />
        </div>

        <div>
            <input type="submit" value="Edit Specilization" style="color:Black"/>
        </div>
    </form>
</div>
<style>
    .link:hover {
        text-shadow: #e943da 5px 5px 5px;
        text-decoration: none;
    }

    .plus {
        background-color: #0094ff;
        border-radius: 5px;
        padding: 10px 15px;
        text-decoration: none;
        color: #fff;
    }

        .plus:hover {
            text-decoration: none;
        }

    .center {
        text-align: center;
    }
    .cancel {
        background-color: #0094ff;
        border-radius: 5px;
        padding: 10px 15px;
        text-decoration: none;
        color: #fff;
    }

      .cancel:hover {
            text-decoration: none;
        }
</style>
