
@{
    ViewBag.Title = "Create";
}

<h2>Create Specilization</h2>

<form action="/Specilization/Create" method="POST">

    <div>
        <label>Specilization:</label> <input type="text" name="SpecilizationName" />
    </div>

    <div>
        <input type="submit" value="Add Specilization" />
    </div>
</form>
