@model IEnumerable<Hospital_CMS.Models.RoomDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
@foreach (var room in Model)
{
    <h2><a href="/Room/Details/@room.RoomId">@room.RoomNo</a></h2>
    <div>Room Type: @room.RoomType</div>
}
