@{
    ViewBag.Title = "Home Page";
}

<div style="background-color: rgb(250, 235, 215,0.5); margin-top: 2rem; color: white" class="jumbotron">
    <h1>Bramton Civic Hospital</h1>
    <p class="lead">The power of community to create health is far greater than any physician, clinic or hospital.</p>
</div>

<div style="background-color: rgb(250, 235, 215,0.5); border-radius:1rem; color:white" class="row">
    <div class="col-md-4">
        <h2>Doctor</h2>
        <p>
            List Of all Doctors.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44370/Doctor/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Specilization</h2>
        <p>List Of Specilization.</p>
        <p><a class="btn btn-default" href="https://localhost:44370/Specilization/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Service Avilable 24/7.</p>
        <p><a class="btn btn-default" href="https://localhost:44370/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>