
@{
    ViewBag.Title = "Create";
}

<h2>Create Discharge</h2>

<form action="/Discharge/Create" method="POST">
    <div>
        <label>Discharge Number:</label> <input type="text" name="dischargeno" />
    </div>
    <div>
        <label>Discharge:</label> <input type="text" name="dischargetype" />
    </div>
    <div>
        <input type="submit" value="discharge" />
    </div>
</form>

